@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: "Montserrat", sans-serif; */

  font-family: "Playfair Display", serif;

  background-color: #164438;
  color: #c6ac77;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
